@import "./pre-customization.scss";
.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary;


  h1 {
    font-size: 18em;
  }

  span {
    font-size: 3em;
  }

  @media (max-width: 1024px) {
    h1 {
        font-size: 6em;
      }
    
      span {
        font-size: 2em;
      }
  }
}
