@import "./pre-customization.scss";
@import "./nav.scss";
@import "./poet.scss";

body {
  background-color: $secondary;
}

a:hover {
  text-decoration: none;
}

.main-page-header {
  padding: 15% 0 10% 0;
}