@import "./pre-customization.scss";
@import "./nav.scss";
@import "./team.scss";
@import "./main.scss";
@import "./poets.scss";
@import "./worklog.scss";

body {
  background-color: $secondary;
}

a:hover {
  text-decoration: none;
}
