@import "./pre-customization.scss";
.poets {
  .row {
    justify-content: center;
  }

  .card {
    margin: 2rem 0;
    transition: 0.7s;

    &:hover {
      -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
      transform: scale(1.06);
      .card-text {
        color: $link-color;
      }
      .card-footer {
        color: #f5f6f7;
      }
    }

    .card-title {
      color: $primary;
    }

    .card-footer {
      background-color: $primary;
      color: #f5f6f7;
    }
  }

  .search-input-wrapper {
    display: flex;
    align-items: center;
    border: 3px solid $primary;
    background-color: $secondary;

    input {
      outline: none;
      border: none;
      background-color: transparent;
    }

    input:focus {
      outline: none;
    }

    svg {
      color: $primary;
      margin: 0 20px;
    }
  }
}
