@import "./pre-customization.scss";
.poet {
    h3 {
        color: $primary;
    }

    .timeline {
        color: $link-color;
        div h3 {
            font-size: 1rem;
        }
    }

    .carousel {
        margin: 1rem;
    }

    .carousel-inner {
        max-height: 500px;
    }

    .life-story {
        display: flex;
        align-items: center;
    }
}