@import "./pre-customization.scss";
.team {
  .row {
    justify-content: center;
  }

  .card {
    margin: 2rem 0;
    transition: 0.7s;

    &:hover {
      -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
      transform: scale(1.08);
    }

    .card-title {
      color: $primary;
    }
  }
}
